<h1>All cocktails</h1>

<div class="row">
  <% @cocktails.each do |c| %>
    <div class="col-4" >
      <div class="card">
        <%= cl_image_tag c.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="container">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="container p-2" style="background-color: rgba(255, 255, 255, 0.5); border-radius: 8px;">
              <h4 class="card-title"><%= c.name %></h4>
              <ul>
                <% c.ingredients.each do |i| %>
                  <li><p class="card-text"><%= i.name %></p></li>
                <% end %>
              </ul>
              <%= link_to "See Details" , cocktail_path(c), class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Create new cocktail", new_cocktail_path %>

